---
layout: layout.njk
---

{% include "partials/nav.njk" %}

{% include "partials/hero.njk" %}

<div class="section-divider"></div>

{% include "partials/about.njk" %}

<div class="section-divider"></div>

{% include "partials/skills.njk" %}

<div class="section-divider"></div>

{% include "partials/projects.njk" %}

<div class="section-divider"></div>

{% include "partials/experience.njk" %}

<div class="section-divider"></div>

{% include "partials/contact.njk" %}

{% include "partials/footer.njk" %}
