<section id="experience">
  <p class="sec-label reveal">04 / experience</p>
  <h2 class="sec-title reveal">Experiencia</h2>
  <div class="exp-list">
    {% for item in site.experience %}
    <div class="exp-item reveal">
      <div class="exp-date">{{ item.date }}</div>
      <div>
        <p class="exp-role">{{ item.role }}</p>
        <p class="exp-company">{{ item.company }}</p>
        <p class="exp-desc">{{ item.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
