<nav>
<div class="nav-logo">~/hernan-mendes</div>
<ul>
<li><a href="#about">sobre mí</a></li>
<li><a href="#skills">skills</a></li>
<li><a href="#projects">proyectos</a></li>
<li><a href="#experience">experiencia</a></li>
<li><a href="#contact">contacto</a></li>
</ul>
</nav>